[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = An example for Linux Kernel Module
[access "refs/*"]
	owner = group user/Qingmin Liu (qingmin-liu)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Qingmin Liu (qingmin-liu)
	label-Verified = -1..+1 group user/Qingmin Liu (qingmin-liu)
	push = group user/Qingmin Liu (qingmin-liu)
	read = group user/Qingmin Liu (qingmin-liu)
	rebase = group user/Qingmin Liu (qingmin-liu)
	removeReviewer = group user/Qingmin Liu (qingmin-liu)
	submit = group user/Qingmin Liu (qingmin-liu)
[access "refs/heads/*"]
	create = group user/Qingmin Liu (qingmin-liu)
	push = +force group user/Qingmin Liu (qingmin-liu)
	pushMerge = group user/Qingmin Liu (qingmin-liu)
	read = group user/Qingmin Liu (qingmin-liu)
[access "refs/tags/*"]
	push = group user/Qingmin Liu (qingmin-liu)
	push = +force group user/Qingmin Liu (qingmin-liu)
